@page "/"
@inject IJSRuntime jsRuntime

<h3>Height: @browser.Height</h3>
<h3>Width: @browser.Width</h3>
<h3>MQ: @browser.MediaQueryMatched</h3>

@code {

    ResizeListener listener;
    BrowserWindowSize browser = new BrowserWindowSize();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            listener = new ResizeListener(jsRuntime);
            await listener.WatchResize(
                (browserWindowSize) =>
                {
                    browser = browserWindowSize;
                    StateHasChanged();
                }
                ,
                "(max-width: 600px)");
        }
    }

}