@inject HttpClient Http
@inject ResizeListener listener
@implements IDisposable
@using TestComponents
@page "/fetchdata"


<h1>Weather forecast</h1>

<p>This component demonstrates adaptive rendering of a Blazor UI.</p>

@if (IsSmallMedia)
{
    <WeatherCards Data="forecasts"></WeatherCards>
}
else
{
    <WeatherGrid Data="forecasts"></WeatherGrid>
}

@code {
    WeatherForecast[] forecasts;

    BrowserWindowSize browser = new BrowserWindowSize();

    bool IsSmallMedia = false;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    protected override void OnAfterRender(bool firstRender)
    {

        if (firstRender)
        {
            listener.OnResized += WindowResizedA;
        }
    }

    async void WindowResizedA(object _, BrowserWindowSize window)
    {
        browser = window;
        IsSmallMedia = await listener.MatchMedia(Breakpoints.SmallDown);
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        listener.OnResized -= WindowResizedA;
    }

}


