@implements IDisposable
@inject ResizeListener listener
@page "/"

<h3>Height: @browser.Height</h3>
<h3>Width: @browser.Width</h3>
<h3>MQ: @IsSmallMedia</h3>

@code {

    BrowserWindowSize browser = new BrowserWindowSize();

    bool IsSmallMedia = false;


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            listener.OnResized += WindowResizedA;
        }
    }

    void IDisposable.Dispose()
    {
        listener.OnResized -= WindowResizedA;
    }

    async void WindowResizedA(object _, BrowserWindowSize window)
    {
        browser = window;
        IsSmallMedia = await listener.MatchMedia(Breakpoints.XLargeUp);
        StateHasChanged();
    }


}