@page "/multicast"
<h3>Multicast</h3>
<div class="row">
    <div class="col">
        <ScreenSizeReporter />
    </div>
    <div class="col">
        <ScreenSizeReporter />
    </div>
    <div class="col">
        <ScreenSizeReporter />
    </div>
</div>

@code {
    [CascadingParameter] public MediaQueryList MediaQueryList { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await MediaQueryList.Initialize();
    }
}
