@inject HttpClient Http
@using TestComponents
@page "/templates"

<h1>Weather forecast</h1>

<p>This component demonstrates adaptive rendering of a Blazor UI.</p>

<MediaQuery Media="@Breakpoints.SmallDown">
    <Matched>
        <WeatherCards Data="forecasts"></WeatherCards>
    </Matched>
    <Unmatched>
        <WeatherGrid Data="forecasts"></WeatherGrid>
    </Unmatched>
</MediaQuery>


@code {
    WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    [CascadingParameter] public MediaQueryList MediaQueryList { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await MediaQueryList.Initialize();
    }
}